.item(data-price=(seller.buyout.trim() !== '') ? seller.buyout : 'unpriced', data-ign=seller.ign, data-whisper=seller.whisper)
  table
    tr
      td.icon!=createSocket(sockets)
        img.icon(src=icon, alt=title)
      td.mods
        table
          tr
            td #{title}
          tr
            td
              ul
                if mods.implicit.trim() != ''
                  li.implicit #{mods.implicit}
                each explicit in mods.explicits
                  li.explixit #{explicit}
                each craft in mods.crafted
                  li.crafted #{craft}
      td.properties
        ul
          each property,name in properties
            if property.trim() != ''
              li.property #{name}:#{property}
