.item(data-price=(seller.buyout.trim() !== '') ? seller.buyout : unpriced, data-ign=seller.ign, data-whisper=seller.whisper)
  table
    tr
      td.icon
        .sockets!=createSocket(sockets)
        img(src=icon, alt=title)
      td
        table
          tr
            td #{title}

