.item(data-price=(seller.buyout.trim() !== '') ? seller.buyout : 'unpriced', data-ign=seller.ign, data-whisper=seller.whisper)
  table
    tr
      td.icon!=createSocket(sockets)
        img.icon(src=icon, alt=title)
      td.mods
        table
          tr
            td
              if corrupted
                b.corrupted
              | #{title}
          tr
            td
              ul
                each implicit, index in mods.implicits
                  if index == mods.implicits.length - 1
                    li.implicit #{implicit}
                  else
                    li #{implicit}
                if mods.enchant.trim() != ''
                  li.enchant #{mods.enchant}
                each explicit in mods.explicits
                  li.explicit #{explicit}
                each craft in mods.crafted
                  li.crafted #{craft}
      td.properties
        ul
          each property,name in properties
            if property.trim() != ''
              li.property #{name}:#{property}
