.item(data-price=(seller.buyout.trim() !== '') ? seller.buyout : 'unpriced', data-ign=seller.ign, data-whisper=seller.whisper)
  table
    tr
      td.icon!=createSocket(sockets)
        img.icon(src=icon, alt=title)
      td
        table
          tr
            td
              if corrupted
                b.corrupted
              | #{title}

